#app {
  display: grid;
  height: 300px;
  width: 750px;
  grid-template-areas:
  "header header header header"
  "nav art1 art1 ads"
  "nav art2 art2 ads"
  "footer footer footer footer"
  ;
}

#header, #footer {
  background-color: #9BCE1D;
}

#header {
  grid-area: header;
}

#footer {
  grid-area: footer;
}

#main {
  background-color: #F7F5D8
}

#article-1 {
  background-color: lightcoral;
  grid-area: art1;
}

#article-2 {
  background-color: violet;
  grid-area: art2;
}

#nav {
  background-color: cornflowerblue;
  grid-area: nav;
}

#ad-area {
  background-color: cornflowerblue;
  grid-area: ads;
}
